@import url(https://fonts.googleapis.com/css?family=Lato:300,100,400);


body {
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1, h4 {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

p {
  padding-top: 120px;
  margin: 0 auto;
  text-align: center;
  font-size: 150px;
  width: 100%;
  font-weight: 700;
}

a:link, a:visited, a:hover {
  color: #c72a61;
  padding: 20px;
}


.aboutfront {
  display: inline-block;
  font-size: 20px;
}

.aboutme {
  font-size: 40px;
  text-align: left;
  font-weight: 200;
  padding: 20px;
}

.row {
  display: inline-block;
}
