@import url(https://fonts.googleapis.com/css?family=Lato:300,100,400);
@import url(https://fonts.googleapis.com/css?family=Cookie);


body {
  background: #fff;
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1, h4 {
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

h5 {
  padding-top: 30px;
}

p {
  padding-top: 120px;
  margin: 0 auto;
  text-align: center;
  font-size: 120px;
  width: 100%;
  font-weight: 700;
  font-family: 'Cookie', cursive;
}


a:link,a:visited  {
  color: #ff0080;
  font-weight: 500;
  padding: 5px;
  
  
}

a:hover {
  color: #444;
  font-weight: 700;
  padding: 5px; 

}

.googletext2 a:link, .googletext2 a:visited {
  color: #fff;
  font-weight: 700;
  padding: 5px;
  text-decoration: underline;
}

.me a:link, .me a:visited {
  color: #fff;
  font-weight: 700;
  padding: 5px;
  
}


.aboutfront {
  display: inline-block;
  font-size: 20px;
}

.aboutme {
  font-size: 40px;
  text-align: left;
  font-weight: 200;
  padding: 20px;
}

.googletext {
  font-size: 20px;
  text-align: left;
  font-weight: 200;
  padding: 20px;

}

.googletext2 {
  font-size: 15px;
  text-align: left;
  font-weight: 200;
  padding: 20px;
}

.googletext3 {
  font-size: 15px;
  text-align: left;
  font-weight: 200;
  padding: 20px;
  color: #000;
}

.row {
  display: inline-block;
}

.card-image {
  padding-top: 20px;

}

.sidebarblue {
  color: #fff;
  background-color: #4285f4;
  width: 100%;
}

.sidebarblue1 {
  padding-top: 120px;
  color: #fff;
  background-color: #4285f4;
  width: 100%; 
}

.sidebarblue2 {
  padding-bottom: 120px;
  color: #fff;
  background-color: #4285f4;
  width: 100%; 
}


.sidebarred {
  color: #fff;
  background-color: #ea4335;
  width: 100%; 
  
}

.sidebaryellow {
  color: #fff;
  background-color: #fbbc05;
  width: 100%;
   

}

.sidebargreen {
  color: #fff;
  background-color: #34a853;
  width: 100%; 
}

.me {
  padding: 10px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}